<div class="col-md-5 offset-md-3">

    <h3> Update Books </h3>
    
    <form (ngSubmit)="saveBook()">
        <div class="form-group">
        <label> Book Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="books.title" name="title">
        </div>
        <div class="form-group">
            <label> book Author Name</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="books.author" name="author">
         </div>
            <div class="form-group">
                <label> Book Descripation</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="books.description" name="description">
             </div>
             <div class="form-group">
                <label>Book price</label>
                <input type="text" class="form-control" id="price" [(ngModel)]="books.price" name="price">
             </div>
             
             <br>
        <button class="btn btn-success" type="submit">Submit</button>
        
    </form>
    </div>
