
  <!-- <div class="row">
    <div class="col-md-4 ml-sm-auto col-lg-4 pt-1 px-4" (ngModel)="books">
      <div class="card-deck" *ngFor="let book of books">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/{{book.title}}.jpg" alt="Image of {{book.title}}" width="100vw" >{{
          book.image }}
          <div class="card-body">
            <h5 class="card-title">Title:{{book.title}}</h5>
            <h6 class="card-title">price:{{book.price }}</h6>
            <p class="card-text">Decription:{{book.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
        <ng-container *ngFor="let book of books">
            <div class="card col-md-4">
              <img src="assets/img/{{book.title}}.jpg" alt="Image of {{book.title}}" width="300vw" height="200vw">{{ book.image }}
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{book.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{book.description}}</p>
                <p><strong>Price:</strong> {{book.price | currency:'INR'}}</p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
      </div>
    </div>





    

